body {
	background: url("../images/bg.png");
	
	.boxed {
		margin-top: 15px;
		box-shadow: 1px 2px 3px #ddd;
		background: white;
	}
	
	#welcome {
		padding: 0 15px;
		.boxed
	}
	
	#menu {
		padding-top: 15px;
		position: fixed;
		.boxed
	}
	
	#head {
		margin-bottom: 20px;
		padding: 0 15px;
		.boxed
	}
	
	article {
		padding: 0 15px;
		.boxed;
		ul {
			padding: 0 30px;
		}
	}
}